<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <title>{% if page.title %}{{page.title}} | {% endif %}{% if site.name %}{{site.name}}{% else %}{{site.dojo.name}}{% endif %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
      {% if site.description %}<meta name="description" content="{{site.description}}">{% endif %}
</head>
<body>
